<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css?v=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>Vedi Annunci</title>
    </head>
<body>
    <header>
        <h1>quotaX Italia</h1>
        <!-- Pulsante Hamburger per Mobile -->
        <button id="menu-toggle" class="hamburger">☰</button>

        

<!-- Menu Desktop -->
<nav class="desktop-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">Bacheca quote</a></li>
        <% if (user) { %>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/create">Crea Annuncio</a></li>
            <li><a href="/create-azioni">Crea Ann. Azioni</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user-login">Accedi</a></li>
            <li><a href="/register">Registrati</a></li>
        <% } %>
        <li><a href="/bacheca-azioni">Bacheca Azioni</a></li>
        <li><a href="/crowdfunding">CrowdFunding</a></li>
    </ul>
</nav>

<!-- Menu Mobile -->
<nav id="menu" class="hidden">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">Bacheca quote</a></li>
        <% if (user) { %>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/create">Crea Annuncio</a></li>
            <li><a href="/create-azioni">Crea Ann. Azioni</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user-login">Accedi</a></li>
            <li><a href="/register">Registrati</a></li>
        <% } %>
        <li><a href="/bacheca-azioni">Bacheca Azioni</a></li>
        <li><a href="/crowdfunding">CrowdFunding</a></li>
    </ul>
</nav>

    </header>
    
    <main>
        <h1>Tutti gli Annunci</h1>
        <form method="GET" action="/view">
            <label for="search">Cerca per nome:</label>
            <input type="text" id="search" name="search" placeholder="Nome società" value="<%= search %>">
            <label for="minPrice">Prezzo minimo:</label>
            <input type="number" id="minPrice" name="minPrice" placeholder="0" value="<%= minPrice %>">
            <label for="maxPrice">Prezzo massimo:</label>
            <input type="number" id="maxPrice" name="maxPrice" placeholder="0" value="<%= maxPrice %>">
            <button type="submit">Filtra</button>
        </form>
        <table class="bacheca-annunci-table">
            <thead>
                <tr>
                    <th><i class="fas fa-user"></i><br><small>Nome</small></th>
                    <th><i class="fas fa-envelope"></i><br><small>Email</small></th>
                    <th><i class="fas fa-folder"></i><br><small>Rubricazione</small></th>
                    <th><i class="fas fa-building"></i><br><small>Società</small></th>
                    <th><i class="fas fa-money-bill"></i><br><small>Prezzo Acquisto</small></th>
                    <th><i class="fas fa-chart-line"></i><br><small>Valore Attuale</small></th>
                    <th><i class="fas fa-dollar-sign"></i><br><small>Prezzo Vendita</small></th>
                </tr>
            </thead>
            <tbody>
                <% announcements.forEach(announcement => { %>
                    <tr>
                        <!-- Il nome è sempre visibile -->
                        <td><%= announcement.nome %></td>
            
                        <!-- L'email è visibile solo agli utenti autenticati -->
                        <td><%= isAuthenticated ? announcement.email : "Riservato" %></td>
            
                        <td><%= announcement.rubricazione || 'N/A' %></td>
                        <td><%= announcement.societa %></td>
                        <td><%= announcement.prezzoAcquisto %></td>
                        <td><%= announcement.valoreAttuale %></td>
                        <td><%= announcement.prezzoVendita %></td>                       
                    </tr>
                <% }) %>
            </tbody>                      
        </table>          
    </main>
    <footer>
        <p>&copy; 2025 quotaX. Tutti i diritti sono riservati.</p>
        <a href="/come-funziona">Come Funziona</a>   
        <a href="/warnings">Avvertenze</a>
        <a href="/terms-conditions">Termini e Condizioni</a>
        <a href="https://www.iubenda.com/privacy-policy/97520414" class="iubenda-embed">Privacy Policy</a> |
        <a href="https://www.iubenda.com/privacy-policy/97520414/cookie-policy" class="iubenda-embed">Cookie Policy</a>
    </footer>

    <script src="/js/menu.js"></script>

    <script>
        document.querySelectorAll('.message-icon').forEach(icon => {
            icon.addEventListener('click', function () {
                const announcementId = this.getAttribute('data-announcement-id');
                const modal = document.getElementById('message-modal');
                modal.querySelector('#announcementId').value = announcementId;
                modal.classList.add('show'); // Mostra il modal
            });
        });
    
        document.addEventListener('click', function (event) {
            if (event.target.id === 'message-modal' || event.target.classList.contains('modal-close')) {
                const modal = document.getElementById('message-modal');
                modal.classList.remove('show'); // Nasconde il modal
            }
        });
    </script>
    
</body>
</html>
